<html>
    <body>
        <h1>
Product Store            </h1>
            <div>
                <h3>
Phone                    </h3>
                    <p>
300.0                        </p>
                        <span>
Available                            </span>
                            </div>
                            <div>
                                <h3>
Laptop                                    </h3>
                                    <p>
800.0                                        </p>
                                        <span>
Not Available                                            </span>
                                            </div>
                                            </body>
                                            </html>
