<div>
    <a href="/" class="back-link">
        ← Back to product list
    </a>

    <form
            action="{{ url_for('delete_product', product_id=product.id) }}"
            method="POST">

        <button type="submit"
                class="btn btn-small btn-danger">
            Delete
        </button>

    </form>
</div>

<h2>{{ product.name }}</h2>

<img
        src="/static/images/{{ product.image }}"
        alt="{{ product.name }}"
        width="500"
        height="500"/>

<p>
    <strong>Price:</strong>
    ${{ product.price }}
</p>

<p>
    <strong>Description:</strong>
</p>

<p>
    {{ product.description }}
</p>